### How well do jobs and skills pay for Data Analysts?

#### Methodology

1. Evaluate median salary for top 6 data jobs
2. Find median salary per skill for Data Analysts
3. Visualise for highest paying skills and and most in-demand skills

In [1]:
# Import libraries
import pandas as pd
import ast
import matplotlib.pyplot as plt
import seaborn as sns

# Load data
df = pd.read_csv(r'../data/data_jobs.csv')

# Data cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda skill_list: ast.literal_eval(skill_list) if pd.notna(skill_list) else skill_list)

### Filter for All Data Jobs in Australia

In [5]:
df_aus = df[df['job_country'] == 'Australia'].copy()
df_aus['job_posted_month_no'] = df_aus['job_posted_date'].dt.month # Create month number column
print(df_aus['job_title_short'].value_counts(),'\n')
print(df_aus['job_country'].value_counts(),'\n')
print(df_aus.info())

job_title_short
Data Engineer                4658
Data Analyst                 1658
Software Engineer            1589
Senior Data Engineer         1482
Data Scientist               1179
Business Analyst              928
Cloud Engineer                489
Machine Learning Engineer     360
Senior Data Analyst           310
Senior Data Scientist         302
Name: count, dtype: int64

job_country
Australia    12955
Name: count, dtype: int64

<class 'pandas.core.frame.DataFrame'>
Index: 12955 entries, 90 to 785687
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        12955 non-null  object
 1   job_title              12955 non-null  object
 2   job_location           12954 non-null  object
 3   job_via                12955 non-null  object
 4   job_schedule_type      12849 non-null  object
 5   job_work_from_home     12955 non-null  bool
 6   search_location        12955 non-null  object
 7   job_posted_date        12955 non-null  datetime64[ns]
 8   job_no_degree_mention  12955 non-null  bool
 9   job_health_insurance   12955 non-null  bool
 10  job_country            12955 non-null  object
 11  salary_rate            160 non-null    object
 12  salary_year_avg        74 non-null     float64
 13  salary_hour_avg        81 non-null     float64
 14  company_name           12955 non-null  object
 15  job_skills             11046 non-null  object
 16  job_type_skills        11046 non-null  object
 17  job_posted_month_no    12955 non-null  int32
dtypes: bool(3), datetime64[ns](1), float64(2), int32(1), object(11)
memory usage: 1.6+ MB
None